<template>
  <el-select v-model="brandValue" value-key="url" filterable placeholder="Выберите производителя" v-on:change="brandChanged">
    <el-option
        v-for="brand in brands"
        :key="brand.id"
        :label="brand.name"
        :value="brand">
    </el-option>
  </el-select>
</template>

<script>
  export default {
    props: ["brands", "value"],
    name: "brand-select",
    data() {
      return {
        brandValue: this.value,
      }
    },
    methods: {
      brandChanged(newValue) {
        this.$emit('update:value', newValue)
      }
    }
  }
</script>

<style scoped>

</style>