<template>
  <el-select v-model="categoriesValue" value-key="object_id" filterable multiple placeholder="Выберите категорию" v-on:change="categoriesChanged">
    <el-option-group
        v-for="category in categoriesData"
        :key="category.category.object_id"
        :label="categoryName(category.category)">
      <el-option
          v-for="categoryInner in category.children"
          :key="categoryInner.object_id"
          :label="categoryName(categoryInner)"
          :value="categoryInner">
      </el-option>
    </el-option-group>
  </el-select>
</template>

<script>
  export default {
    props: ["categories", "value"],
    name: "category-select",
    data() {
      return {
        categoriesValue: this.value,
      }
    },
    computed: {
      categoriesData() {
        return this.categories.map((rootCategory) => {
          let innerCategories = [];
          rootCategory.children.forEach((secondCategory) => {
            innerCategories.push(secondCategory.category);
            secondCategory.children.forEach((thirdCategory) => {
              thirdCategory.category.name = '-- ' + thirdCategory.category.name;
              if (thirdCategory.category.full_name) {
                thirdCategory.category.full_name = '-- ' + thirdCategory.category.full_name;
              }
              innerCategories.push(thirdCategory.category);
            });
          });
          rootCategory.children = innerCategories;

          return rootCategory
        });
      }
    },
    methods: {
      categoriesChanged(newValue) {
        this.$emit('update:value', newValue)
      },
      categoryName(category) {
        return category.full_name ? category.full_name : category.name;
      }
    }
  }
</script>

<style scoped>

</style>