<template>
  <div>
    <el-button @click="dialogVisible = true">
      <div v-if="!colorObject">Выберите цвет</div>
      <div v-else>
        <product-color :color="colorObject" size="16" class="product-color" />{{ colorObject.Name }}
      </div>
    </el-button>
    <el-dialog
        title="Выберите цвет"
        :visible.sync="dialogVisible"
        width="80%">
      <el-input prefix-icon="el-icon-search"
                v-model.trim="colorsQuery"
                clearable
                autofocus
                placeholder="Фильтр по названию цвета"/>
      <div class="products-colors">
        <a v-for="color in colors" class="color-item" @click.prevent="selectColor(color)">
          <product-color :color="getColorObject(color)" size="24" class="color-item__color" />
          <div class="color-item__name">{{ color.name }}</div>
        </a>
        <div class="el-loading-mask" v-if="colorsLoading">
          <div class="el-loading-spinner">
            <svg viewBox="25 25 50 50" class="circular">
              <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button v-if="color" type="danger" @click="removeColor">Удалить цвет</el-button>
        <el-button @click="dialogVisible = false">Отменить</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {Color} from "../../objects/product/color";
  import ProductColor from "../../components/other-ui/product-color";
  import {apiv3} from "../../api/v3/apiv3";
  import debounce from 'lodash/debounce';

  export default {
    props: ["color"],
    name: "color-select",
    data() {
      return {
        dialogVisible: false,
        colors: [],
        colorsLoading: false,
        colorsQuery: '',
      }
    },
    mounted() {
      this.getColors();
    },
    computed: {
      colorObject() {
        return this.color ? new Color(this.color) : null;
      }
    },
    methods: {
      selectColor(newColor) {
        this.$emit('update:color', newColor);
        this.dialogVisible = false;
      },
      removeColor() {
        this.$emit('update:color', null);
        this.dialogVisible = false;
      },
      getColors() {
        this.colorsLoading = true;
        apiv3.products.getColors({
          query: this.colorsQuery,
        }).then((response) => {
          this.colors = response.colors;
          this.colorsLoading = false;
        });
      },
      getColorObject(color) {
        return color ? new Color(color) : null;
      }
    },
    watch: {
      colorsQuery: debounce(function() {
        this.getColors();
      }, 200)
    },
    components: {
      'product-color': ProductColor,
    }
  }
</script>

<style scoped>
  .product-color {
    margin-right: 5px;
  }

  .products-colors {
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .color-item {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
  }

  .color-item:hover {
    text-decoration: none;
    background: #FCEDE5;
  }

  .color-item__color {
    margin-right: 10px;
  }

  .color-item__name {
    flex-grow: 1;
    color: #000;
  }
</style>