@font-face {
  font-family:'Rouble';
  src: url(./rouble.eot);
  src: url(./rouble.eot?#iefix) format('embedded-opentype'),
       url(./rouble.ttf) format('truetype')
  }

.rouble {
  font-family: Rouble, serif
}