<template>
  <div class="el-pagination-wrapper" v-bind:class="{ 'el-pagination-wrapper--bottom': isBottom }">
    <el-pagination
        background
        layout="prev, pager, next"
        :current-page="currentPage"
        :page-size="perPage"
        :total="count"
        v-on:current-change="pageChanged">
    </el-pagination>
    <div v-if="titles" class="el-pagination-count">{{ humanCount }}</div>
  </div>
</template>

<script>
  import {pluralize} from "../../utils/misc-utils";

  export default {
    props: ["count", "perPage", "offset", "titles", "bottom"],
    name: "pagination",
    computed: {
      isBottom() {
        return typeof(this.bottom) !== 'undefined';
      },
      currentPage() {
        return Math.ceil(this.offset / this.perPage) + 1;
      },
      humanCount() {
        return pluralize(this.count, this.titles.split('|'))
      }
    },
    methods: {
      pageChanged(newPage) {
        this.$emit('page-changed', newPage)
      }
    }
  }
</script>

<style>
  .el-pagination-wrapper {
    margin-left: -10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .el-pagination-wrapper--bottom {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .el-pagination-count {
    margin-left: 10px;
    font-size: 15px;
    color: #6B6B6B;
    font-style: italic;
  }
</style>