<template>
  <div class="material-spinner">
    <div class="material-spinner__loader">
      <svg class="material-spinner__circular" viewBox="25 25 50 50">
        <circle class="material-spinner__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
      </svg>
    </div>
  </div>

</template>

<script>
  export default {
    name: "material-spinner"
  }
</script>

<style scoped>
  .material-spinner__centered {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .material-spinner {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }

  .material-spinner__loader {
    position: relative;
    margin: 0 auto;
    width: 46px;
  }

  .material-spinner__circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .material-spinner__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #EA6716;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
</style>