<template>
  <div class="product-color" :style="colorStyle">&nbsp;</div>
</template>

<script>
  export default {
    props: ['color', 'size'],
    name: "product-color",
    computed: {
      colorStyle() {
        return `width: ${this.colorSize}px; border-radius: ${this.borderRadius}px; height: ${this.colorSize}px; ` + this.color.cssBackground;
      },
      colorSize() {
        return this.size ? this.size : '24';
      },
      borderRadius() {
        return parseInt(this.colorSize) / 2;
      },
    }
  }
</script>

<style scoped>
  .product-color {
    display: inline-block;
  }
</style>