<template>
  <div>
    <h1>{{ title }}</h1>
    <material-spinner v-if="isLoading" />
    <product-edit-form v-if="!isLoading"
                       :edit-type="editType"
                       :product="product"
                       :brands="brands"
                       :categories="categories"
                       :suppliers="suppliers"
                       :category-filters="categoryFilters"
                       v-on:color-changed="colorChanged"
    />
  </div>
</template>

<script>
  import ProductEditForm from './components/product-edit-form';
  import MaterialSpinner from '../../components/other-ui/material-spinner';
  import {apiv3} from "../../api/v3/apiv3";

  export default {
    name: "product-edit-page",
    data() {
      return {
        isLoading: false,
        brands: [],
        suppliers: [],
        categories: [],
        categoryFilters: [],
        product: {},
      }
    },
    metaInfo: {
      title: ''
    },
    mounted() {
      this.getProductInfo();
    },
    computed: {
      title() {
        return this.$route.name === 'products-add' ? 'Добавление товара' : 'Редактирование товара';
      },
      editType() {
        return this.$route.name === 'products-add' ? 'add' : 'edit';
      },
      productId() {
        return this.editType === 'add' ? '' : this.$route.params.product_id;
      }
    },
    methods: {
      getProductInfo() {
        this.isLoading = true;
        apiv3.products.getAddProductInfo(this.productId).then((response) => {
          if (response.product) {
            this.product = response.product;
          } else {
            let suppliersArticuls = {};
            response.suppliers.forEach((supplier) => suppliersArticuls[supplier.code] = '');
            this.product = {
              about: '',
              articul: '',
              suppliers_articuls: suppliersArticuls
            }
          }
          this.suppliers = response.suppliers;
          this.categories = response.categories;
          this.categoryFilters = response.category_filters;
          this.brands = response.brands;
          this.isLoading = false;
        });
      },
      getCategoryFilters() {
        const categoryFilters = this.product.categories.map((category) => category.object_id).join(',');
        apiv3.products.getCategoryFilters(categoryFilters).then((response) => {
          this.categoryFilters = response.category_filters;
        });
      },
      colorChanged(newColor) {
        this.product.color = newColor;
      }
    },
    watch: {
      'product.categories': function () {
        this.getCategoryFilters();
      }
    },
    components: {
      'product-edit-form': ProductEditForm,
      'material-spinner': MaterialSpinner,
    }
  }
</script>

<style scoped>

</style>