<template>
  <div>
    <h1>Товары</h1>
    <div class="el-buttons__line">
      <el-button type="primary" icon="el-icon-plus" plain @click="addProduct">Добавить товар</el-button>
    </div>
    <fieldset>
      <form v-on:submit.prevent="onSearch">
        <el-row>
          <el-col :span="24">
            <el-input prefix-icon="el-icon-search"
                      v-model.trim="search.query"
                      clearable
                      placeholder="Введите название, артикул, штрих-код для поиска"/>
          </el-col>
        </el-row>
      </form>
    </fieldset>
    <material-spinner v-if="products.loading && products.products.length === 0" />
    <div v-if="products.products.length > 0">
      <pagination :per-page="products.perPage"
                  :offset="currentOffset"
                  :count="products.count"
                  titles="товар|товара|товаров"
                  v-on:page-changed="pageChanged"/>
      <table class="el-table el-table--striped">
        <thead class="el-table__header">
        <tr class="el-table__row">
          <th>Артикул</th>
          <th>&nbsp;</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody class="el-table__body">
          <product-cell v-for="(product, index) in products.products" :key="product.id" :index="index" :product="product"/>
        </tbody>
        <div class="el-loading-mask" v-if="products.loading">
          <div class="el-loading-spinner">
            <svg viewBox="25 25 50 50" class="circular">
              <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg>
          </div>
        </div>
      </table>
      <pagination :per-page="products.perPage"
                  :offset="currentOffset"
                  :count="products.count"
                  titles="товар|товара|товаров"
                  bottom
                  v-on:page-changed="pageChanged"/>
    </div>
  </div>
</template>

<script>
  import Pagination from '../../components/data/Pagination';
  import ProductCell from './components/product-cell';
  import MaterialSpinner from '../../components/other-ui/material-spinner';
  import {integerValue} from "../../utils/intereger-utils";
  import {nullString} from "../../utils/misc-utils";
  import clone from 'clone';
  import {apiv3} from "../../api/v3/apiv3";

  export default {
    name: "products-page",
    data() {
      return {
        products: {
          products: [],
          count: 0,
          perPage: 50,
          loading: false,
        },
        search: {
          query: nullString(this.$route.query.query)
        }
      }
    },
    metaInfo: {
      title: 'Товары'
    },
    mounted() {
      this.getProducts();
    },
    computed: {
      currentOffset() {
        return this.$route.query.offset ? integerValue(this.$route.query.offset) : 0
      }
    },
    methods: {
      getProducts() {
        this.products.loading = true;
        apiv3.products.getProducts({
          offset: this.$route.query.offset,
          query: this.$route.query.query,
        }).then((response) => {
          this.products.products = response.products;
          this.products.count = response.count;
          this.products.perPage = response.per_page;
          this.products.loading = false;
        });
      },
      pageChanged(newPage) {
        let query = clone(this.$route.query, false);
        query.offset = (newPage - 1) * this.products.perPage;
        this.$router.push({path: '/app/products', query})
      },
      onSearch() {
        let query = clone(this.$route.query, false);
        query.offset = 0;
        query.query = this.search.query;
        this.$router.push({path: '/app/products', query})
      },
      addProduct() {
        this.$router.push({path: '/app/products/add'})
      }
    },
    watch: {
      '$route.query': function (query) {
        this.getProducts()
      }
    },
    components: {
      ProductCell,
      'pagination': Pagination,
      'product-cell': ProductCell,
      'material-spinner': MaterialSpinner,
    }
  }
</script>

<style>

</style>