<template>
  <div>
    <h1>Page 1</h1>
    <p class="text">Some text with scoped style</p>
    <small>
      {{ $route.path }}
    </small>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log("page1 mounted");
        }
    }
</script>

<style scoped>
  .text {
    color: darkred;
  }
</style>