<template>
  <div>
    <h1>Page 2</h1>
    <p class="text">Some text with scoped style</p>
  </div>
</template>

<script>
    export default {}
</script>

<style scoped>
  .text {
    color: darkblue;
  }
</style>