<template>
  <div>
    <h3>Поставщики</h3>
    <fieldset v-if="suppliers && suppliers.length > 0">
      <el-row :gutter="20">
        <el-col v-for="(supplier, index) in suppliers" :key="supplier.id" :span="6">
          <div class="el-form-item">
            <label>Артикул {{ supplier.name }}</label>
            <el-input v-model="product.suppliers_articuls[supplier.code]" class="input-with-select">
              <el-button type="primary" slot="append" icon="el-icon-arrow-down"/>
            </el-input>
          </div>
        </el-col>
      </el-row>
    </fieldset>

    <h3>Основная информация</h3>
    <fieldset>
      <el-row :gutter="20">
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__barcode">Штрих-код</label>
            <el-input v-model="product.barcode" id="product-edit__barcode" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__articul-vendor">Артикул производителя</label>
            <el-input v-model="product.articul_vendor" id="product-edit__articul-vendor" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="el-form-item">
            <label for="product-edit__name">Название товара</label>
            <el-input v-model="product.name" id="product-edit__name" />
          </div>
        </el-col>
        <el-col :span="12">
          <div class="el-form-item">
            <label for="product-edit__series">Серия</label>
            <el-input v-model="product.series" id="product-edit__series" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="el-form-item">
            <label for="product-edit__small-notes">Короткое описание</label>
            <el-input v-model="product.small_notes" id="product-edit__small-notes" type="textarea" autosize />
          </div>
        </el-col>
        <el-col :span="12">
          <div class="el-form-item">
            <el-popover
                ref="popover_search_words"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Любые дополнительные слова, по которым товар должен находиться при поиске. Нигде не отображаются.">
            </el-popover>
            <label for="product-edit__search-words">Поисковые ключевые слова <i v-popover:popover_search_words class="el-icon-question"></i></label>
            <el-input v-model="product.search_words" id="product-edit__search-words" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="el-form-item">
            <label for="product-edit__meta-description">META description</label>
            <el-input v-model="product.meta_description" id="product-edit__meta-description" />
          </div>
        </el-col>
        <el-col :span="12">
          <div class="el-form-item">
            <label for="product-edit__meta-keywords">META keywords</label>
            <el-input v-model="product.meta_keywords" id="product-edit__meta-keywords" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__brand">Производитель</label>
            <brand-select :value.sync="product.brand" id="product-edit__brand" :brands="brands" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__country">Страна производитель</label>
            <el-input v-model="product.country" id="product-edit__country" />
          </div>
        </el-col>
        <el-col :span="12">
          <div class="el-form-item">
            <label>Категории</label>
            <category-select :value.sync="product.categories" :categories="categories" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="3">
          <div class="el-form-item">
            <label for="product-edit__price">Цена</label>
            <el-input v-model.number="product.price" id="product-edit__price" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <el-popover
                ref="popover_in_pack"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Число, кратно которому можно заказать товар. Если товар продается поштучно, можно оставить пустым, или написать 0 или 1">
            </el-popover>
            <label for="product-edit__in-pack">В упаковке <i v-popover:popover_in_pack class="el-icon-question"></i></label>
            <el-input v-model.number="product.in_pack" id="product-edit__in-pack" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <label for="product-edit__weight">Вес (кг)</label>
            <el-input v-model.number="product.weight" id="product-edit__weight" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <label for="product-edit__volume">Объем (л)</label>
            <el-input v-model.number="product.volume" id="product-edit__volume" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__dimension">Габариты товара (см)</label>
            <el-input v-model="product.dimension" placeholder="ДxШxВ" id="product-edit__dimension" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__pack-dimension">Габариты упаковки (см)</label>
            <el-input v-model="product.pack_dimension" placeholder="ДxШxВ" id="product-edit__pack-dimension" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="3">
          <div class="el-form-item">
            <el-popover
                ref="popover_item_count"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Текстовое обозначение количества единиц товара в одной упаковке, например 100 таб.">
            </el-popover>
            <label for="product-edit__item-count">Количество <i v-popover:popover_item_count class="el-icon-question"></i></label>
            <el-input v-model="product.item_count" id="product-edit__item-count" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <el-popover
                ref="popover_size_name"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Для товаров с вариантами размеров, например XL или 1">
            </el-popover>
            <label for="product-edit__size-name">Размер <i v-popover:popover_size_name class="el-icon-question"></i></label>
            <el-input v-model="product.size_name" id="product-edit__size-name" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <el-popover
                ref="popover_weight_netto"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Фактическая масса товара с учетом упаковки. Используется для расчета доставки">
            </el-popover>
            <label for="product-edit__weight-netto">Вес нетто (кг) <i v-popover:popover_weight_netto class="el-icon-question"></i></label>
            <el-input v-model.number="product.weight_netto" id="product-edit__weight-netto" />
          </div>
        </el-col>
        <el-col :span="3">
          <div class="el-form-item">
            <el-popover
                ref="popover_priority"
                placement="top-end"
                width="300"
                trigger="hover"
                content="Чем больше это число, тем выше будет этот товар в сортировке при прочих равных условиях.">
            </el-popover>
            <label for="product-edit__priority">Приоритет <i v-popover:popover_priority class="el-icon-question"></i></label>
            <el-input v-model.number="product.priority" id="product-edit__priority" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__ingredients">Ингредиенты</label>
            <el-input v-model="product.ingredients" id="product-edit__ingredients" />
          </div>
        </el-col>
        <el-col :span="6">
          <div class="el-form-item">
            <label for="product-edit__color-name">Цвет (старый формат)</label>
            <el-input v-model="product.color_name" id="product-edit__color-name" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="6">
          <div class="el-form-item">
            <label>Цвет (новый формат)</label>
            <color-select :color.sync="product.color" />
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" style="margin-bottom: 22px;">
          <el-checkbox v-model="product.is_available">В наличии</el-checkbox>
          <el-checkbox v-model="product.is_promo">Промонабор</el-checkbox>
          <el-checkbox v-model="product.is_new">Новинка</el-checkbox>
          <el-checkbox v-model="product.is_featured">Хит продаж</el-checkbox>
          <el-checkbox v-model="product.is_rejected">Не производится</el-checkbox>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="18">
          <div class="el-form-item">
            <vue-redactor :value.sync="product.about" />
          </div>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset>
      <h3>Фильтры</h3>
      <div v-for="category in categoryFilters" :key="category.category.object_id" v-if="category.filters.length > 0">
        <h4>{{ category.category.name }}</h4>
        <div v-for="filter in category.filters" :key="filter.object_id">
          <el-row :gutter="20" style="margin-bottom: 15px;">
            <el-col :span="4">
                <label>{{ filter.name }}</label>
            </el-col>
            <el-col :span="20">
              <el-checkbox v-for="filterValue in filter.values"
                           :key="filterValue.object_id"
                           v-on:change="filterChanged(filter.object_id, filterValue.object_id)"
                           :checked="isChecked(filter.object_id, filterValue.object_id)">{{ filterValue.name }}
              </el-checkbox>
            </el-col>
          </el-row>
        </div>
      </div>
    </fieldset>
  </div>
</template>

<script>
  import VueRedactor from '../../../components/redactor/redactor-2';
  import BrandSelect from '../../../components/selects/brand-select';
  import CategorySelect from '../../../components/selects/category-select';
  import ColorSelect from '../../../components/selects/color-select';

  export default {
    props: ["editType", "product", "suppliers", "brands", "categories", "categoryFilters"],
    name: "product-edit-form",
    methods: {
      isChecked(filterId, valueId) {
        if (!this.product.filters.hasOwnProperty(filterId)) {
          return false;
        }
        return this.product.filters[filterId].indexOf(valueId) >= 0;
      },
      filterChanged(filterId, valueId) {
        if (!this.product.filters.hasOwnProperty(filterId)) {
          this.product.filters[filterId] = [];
        }
        const indexOfValue = this.product.filters[filterId].indexOf(valueId);
        if (indexOfValue >= 0) {
          this.product.filters[filterId].splice(indexOfValue, 1);
        } else {
          this.product.filters[filterId].push(valueId);
        }
        this.$emit('update:product', this.product);
      }
    },
    components: {
      CategorySelect,
      VueRedactor,
      'brand-select': BrandSelect,
      'category-select': CategorySelect,
      'color-select': ColorSelect,
      'vue-redactor': VueRedactor,
    }
  }
</script>

<style scoped>

</style>