<template>
  <tr class="el-table__row" v-bind:class="{ 'el-table__row--striped': index % 2 == 0 }">
    <td>
      {{ product.articul }}
    </td>
    <td>
      <a :href="product.href" target="_blank">
        <img :src="product.photo.small" class="photo">
      </a>
    </td>
    <td>
      <div class="el-table-row__title">
        <a :href="product.href" target="_blank">
          {{ product.name }}
        </a>
      </div>
      <div class="el-table-row__subtitle">{{ product.small_notes }}</div>
    </td>
    <td>
      <div class="product-price">
        {{ product.price }}<span class="rouble">p</span>
      </div>
    </td>
    <td>
      <el-button size="small" icon="el-icon-edit" @click="editProduct">Редактировать</el-button>
    </td>
  </tr>
</template>

<script>
  export default {
    props: ["product", "index"],
    name: "product-cell",
    methods: {
      editProduct() {
        this.$router.push({path: `/app/products/edit/${this.product.id}`});
      }
    }
  }
</script>

<style scoped>
  .photo {
    width: 30px;
    height: 30px;
  }

  .product-price {
    font-weight: 700;
  }
</style>