<template>
  <textarea ref="input">{{ productHtml }}</textarea>
</template>

<script>
  import $ from 'jquery';
  import './redactor-full.js';

  export default {
    props: ['value'],
    name: "redactor-2",
    data() {
      return {
        productHtml: this.value
      }
    },
    mounted() {
      const me = this;
      $(me.$refs.input).redactor({
        toolbarFixed: true,
        toolbarFixedTopOffset: 50,
        imageUpload: `https://mypet-online.ru/api/admin/media/attach?authsession=e9dede8d608131672ea6f0147035ee6addcf9d6802266c83364e14f5bbbb1c58`,
        imageUploadFields: '#image-upload__auth-token',
        imageResizable: true,
        imagePosition: true,
        plugins: ['alignment', 'table', 'properties', 'source'],
        formattingAdd: {
          "text-red": {
            title: 'Красный текст',
            args: ['span', 'class', 'mypet__text--red']
          },
          "text-green": {
            title: 'Зеленый текст',
            args: ['span', 'class', 'mypet__text--green']
          },
        },
        formatting: ['p', 'blockquote', 'h2', 'h3', 'h4'],
        lang: 'ru',
        callbacks: {
          sync: function()
          {
            me.$emit('update:value', this.code.get());
          }
        },
      });
    }
  }
</script>

<style scoped>

</style>