.redactor-styles .mypet__text--red {
  color: #f42e2e;
}
.redactor-styles .mypet__text--green {
  color: #15a032;
}

.redactor-dropdown .redactor-dropdown-text-red {
  color: #f42e2e;
}
.redactor-dropdown .redactor-dropdown-text-green {
  color: #15a032;
}