<template>
  <section class="el-container is-vertical">
    <header class="el-header">
      <router-link to="/app/products" class="el-header__link">Товары</router-link>
    </header>
    <main class="el-main">
      <router-view/>
    </main>
    <footer class="el-footer">
      <div class="git-info">{{ gitInfo }}</div>
    </footer>
  </section>
</template>

<script>
  import './base/rouble/rouble.css';

  export default {
    name: "main-layout",
    metaInfo: {
      title: '',
      titleTemplate: '%s - MyPet-Online.ru'
    },
    computed: {
      appTitle () {
        return this.$store.state.app.title;
      },
      gitInfo() {
        return '';
      }
    }
  }
</script>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.428571429;
    color: #2e2e2e;
    background-color: #fff;
  }

  header {
    background: #EA6716;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2100;
  }

  .el-main {
    margin-top: 35px;
  }

  .el-pagination-wrapper {
    margin-left: -10px;
  }

  .el-pagination-wrapper--bottom {
    margin-top: 10px;
  }

  .el-table-row__title {
    font-size: 15px;
    font-weight: 500;
  }

  .el-table-row__subtitle {
    font-size: 13px;
    color: #6B6B6B;
  }

  .el-table td, .el-table th {
    padding-left: 10px;
    padding-right: 10px;
  }

  .el-header__link {
    display: inline-block;
    height: 50px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    line-height: 50px;
    font-size: 16px;
  }

  .el-header__link:hover {
    text-decoration: none;
    background: #E56415;
  }

  fieldset {
    border: none;
    margin-bottom: 15px;
    background: #FDF6F2;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    padding: 10px;
  }

  fieldset.fieldset--inner {
    background: #F2E2DA;
  }

  .el-buttons__line {
    margin-bottom: 15px;
  }

  .el-form-item label {
    display: block;
    margin-bottom: 3px;
    font-weight: 500;
  }

  .el-select {
    display: block;
  }

  .el-dialog__body {
    padding: 5px 20px;
  }

  .el-dialog__footer {
    background: #f9fafb;
    border-top: 1px solid #dcdfe6;
    margin-top: 15px;
    text-align: left;
  }

  .el-checkbox {
    margin-right: 30px;
    margin-left: 0;
  }

  .el-checkbox + .el-checkbox {
    margin-left: 0;
  }
</style>