<template>
  <div>
    <h1>Vue Main Page</h1>
    <blockquote>Count is <strong>{{ $store.state.app.counter }}</strong></blockquote>
    <div>
      <button v-on:click="increment">Increment</button>
      <button v-on:click="decrement">Decrement</button>
    </div>
    <h2>Vue router</h2>
    <ul>
      <li>
        <router-link to="/page1">Go to page 1</router-link>
      </li>
      <li>
        <router-link to="/page2">Go to page 2</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  import 'element-ui/lib/theme-chalk/index.css'

  export default {
    data() {
      return {
        count: 1,
        name: 'Baev',
        city: 'Moscow'
      }
    },

    methods: {
      increment() {
        this.$store.commit('INCREMENT_COUNTER');
      },
      decrement() {
        this.$store.commit('DECREMENT_COUNTER');
      }
    }
  }
</script>

<style>
  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    font-size: 22px;
  }

  blockquote {
    border-left: 2px #ccc solid;
    color: darkgrey;
    padding-left: 0.5em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
</style>