/* theme color */
$--color-primary: #EA6716;

a {
  color: $--color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-table {
  border-spacing: 0;
}

.el-table__header th {
  border-bottom: 2px solid #ebeef5;
}